<h1 class ="text-center">
  <img src="../assets/img/burger.png" id = "burger-img" class=""alt="cheesebuger image">Burger Devourer
</h1>

<div class="container">
  <div class="row">
    <div class="col">

      <h2>Burgers that are ready to eat!</h2>

      <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten = false}}
        {{/unless}}
        {{/each}}
      </ol>
    </div>
    <div class="col">

      <h2>Burgers that are already eaten!</h2>

      <ol>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block eaten = true}}
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>

  <h2 class="text-center">Add a Burger</h2>
  <form class="create-form text-center">

    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>


    <button type="submit">Add Burger</button>
    <p>Type in the burger you want to eat then click "Add Burger"!</p>
  </form>
</div>